snippet init "init" b
cmake_minimum_required(VERSION ${1:2.8.2})
project(${2:ProjectName})

add_subdirectory(${0:src})

add_executable($3)

endsnippet

snippet makefile "makefile"
${1:main}:$1.o
	g++ *.o -o $1

$1.o:$1.cpp
	g++ -c $1.cpp

clean:
	rm *.o $1

endsnippet
